{{> head}}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Bienvenido Dallan Camacho</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/img.jpg" alt="" class="img-thumbnail">
    </div>
</div>
    

{{> footer}}